# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Entorno virtual
# ==========================================
.venv/
venv/
env/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# PyCharm
# ==========================================
.idea/

# ==========================================
# Archivos del sistema
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Variables de entorno
# ==========================================
#.env.example
.env.*
.env
# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Base de datos SQLite
# ==========================================
*.sqlite
#*.sqlite3
*.db

# ==========================================
# Modelos entrenados
# ==========================================
#*.pkl
*.joblib

# ==========================================
# Cache
# ==========================================
.pytest_cache/
.mypy_cache/
.cache/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Streamlit
# ==========================================
.streamlit/secrets.toml

# ==========================================
# Archivos temporales
# ==========================================
*.tmp
*.bak

# ==========================================
# Directorios de salida
# ==========================================
dist/
build/

# ==========================================
# Reportes de cobertura
# ==========================================
.coverage
htmlcov/